ul {
    width: 1170px;
    display: flex;
    gap: 30px;
    background-color: aqua;
    margin: 0 auto;
    padding-left: 0;
}

li {
    width: 370px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

li p {
    font-size: 60px;
    padding: 50px;
    background-color: blueviolet;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: brown;
    opacity: 0;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop.open {
    opacity: 1;
}

.modal-text {
    font-size: 60px;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
}